{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <ul class="main-gallery">

    <div class="make" style="display: none;">
      <div class="make-type"></div>
      <div class="title"></div>
    </div>

  </ul>
{% endblock %}
{% block scripts %}
  <script>
    var $mainGallery = $( ".main-gallery" ),
        $makeTemplate = $( ".make", $mainGallery );

    wm.doSearch( "featured", 30, function( data ) {
      var $el = $makeTemplate.clone( true ).css( "display", "" );
      $el.addClass( "make-" + data.tags.makeType );
      $( ".title", $el ).text( data.title );
      $( ".make-type", $el ).text( data.tags.makeType );
      $mainGallery.append( $el );
    });
  </script>
{% endblock %}
