<!doctype>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% block head %}
  <link rel="stylesheet" href="css/style.css">
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>
  <header id="main-header">
    <img id="logo" src="img/logo.png">
    <ul class="nav-list">
      <li><a id="nav-index" href="/">Make what?</a></li>
      <li><a id="nav-learn" href="/learn">Learn</a></li>
      <li><a id="nav-teach" href="/teach">Teach</a></li>
      <li><a id="nav-party" href="/party">Party</a></li>
    </ul>
  </header>

  <div id="content">{% block body %}{% endblock %}</div>

  <footer id="footer"> &copy; Copyright webmaker.</footer>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="{{ makeEndpoint }}/js/make-api.js"></script>
  <script src="js/main.js"></script>
  <script>
    document.getElementById( "nav-{{ page }}").classList.add( "on" );
    var wm = new Webmaker();
    wm.init({
      page: "{{ page }}",
      makeURL: "{{ makeEndpoint }}"
    });
  </script>
  {% block scripts %}{% endblock %}

  </div>
  </div>
</body>
